*.jpg
nba-computer-vision/videos
nba-computer-vision/tfod
nba-computer-vision/shot_images/noshot/*/*/*.jpg
nba-computer-vision/shot_images/shot/*/*/*.jpg
nba-computer-vision/logs
nba-computer-vision/workspace/scripts
nba-computer-vision/workspace/protoc
nba-computer-vision/workspace/images
nba-computer-vision/workspace/annotation
nba-data-scrapping/statistic
nlp_project/classical_models
nlp_project/datasets
nlp_project/embedded_data
nlp_project/hugging_face
nlp_project/prediction_data
nlp_project/word2vec_model
nlp_project/test_data.xlsx
nlp_project/post-manual-label.csv
nlp_project/post-ontology-label.csv
nlp_project/post-ontology-manual-label.csv
tumor-detection/aug_data
tumor-detection/data
tumor-detection/svs_file
tumor-detection/screenshots
tumor-detection/image
