*.jpg
joint_flexion_measurement_dave_love_v1/videos
joint_flexion_measurement_dave_love_v1/tfod
joint_flexion_measurement_dave_love_v1/aug_data/test/*.json
joint_flexion_measurement_dave_love_v1/aug_data/train/*.json
joint_flexion_measurement_dave_love_v1/aug_data/images/*.json
joint_flexion_measurement_dave_love_v1/aug_data/test/*
joint_flexion_measurement_dave_love_v1/aug_data/train/*
joint_flexion_measurement_dave_love_v1/aug_data/images/*
joint_flexion_measurement_dave_love_v1/shot_images/noshot/*/*/*.jpg
joint_flexion_measurement_dave_love_v1/shot_images/shot/*/*/*.jpg
joint_flexion_measurement_dave_love_v1/logs
joint_flexion_measurement_dave_love_v1/workspace
joint_flexion_measurement_dave_love_v3/workspace
joint_flexion_measurement_dave_love_v2/workspace
joint_flexion_measurement_dave_love_v1/workspace/scripts
joint_flexion_measurement_dave_love_v1/workspace/protoc
joint_flexion_measurement_dave_love_v1/workspace/images
joint_flexion_measurement_dave_love_v1/workspace/annotation
joint_flexion_measurement_dave_love_v1/statistic
nlp_project/classical_models
nlp_project/datasets
nlp_project/embedded_data
nlp_project/hugging_face
nlp_project/prediction_data
nlp_project/word2vec_model
nlp_project/test_data.xlsx
nlp_project/post-manual-label.csv
nlp_project/post-ontology-label.csv
nlp_project/post-ontology-manual-label.csv
tumor-detection/aug_data
tumor-detection/data
tumor-detection/svs_file
tumor-detection/screenshots
tumor-detection/image
joint_flexion_measurement_dave_love_v1/videos
joint_flexion_measurement_dave_love_v1/videos_mavs
joint_flexion_measurement_dave_love_v2/videos
joint_flexion_measurement_dave_love_v2/videos_mavs
joint_flexion_measurement_dave_love_v3/videos
joint_flexion_measurement_dave_love_v3/videos_mavs
joint_flexion_measurement_dave_love_v1/output_vid
joint_flexion_measurement_dave_love_v2/output_vid
joint_flexion_measurement_dave_love_v3/output_vid
